[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb-client = "*"
pandas = "*"
paho-mqtt = "*"
pytest = "*"
pyyaml = "*"
scipy = "*"
dotenv = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.10"
